
<div *ngIf="pokemon" class="rounded overflow-hidden shadow-lg">
    <img class="w-full" [src]="pokemon.avatar" [alt]="pokemon.name">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{pokemon.name}}</div>
      <p class="text-gray-700 text-base">
      </p>
    </div>
    <app-catch-pokemon-button *ngIf="isCatalog" [pokemonName]="pokemon.name"></app-catch-pokemon-button>
    <app-release-pokemon-button *ngIf="!isCatalog" [pokemonName]="pokemon.name"></app-release-pokemon-button>
  </div>